@import "../Base/Variables";

.project-gallery {
  width: 100%;
  display: flex;

  & > div { flex: 1 1 100% }

  & .gallery-header, & .gallery-footer {
    width: fit-content;
  }
}

// .gallery-carousel {
//   display: flex;
//   // overflow-x: scroll;
//   // overflow-y: hidden;

//   /* remove scrollbar */
//   scrollbar-width: none; /* Firefox */
//   -ms-overflow-style: none;  /* Internet Explorer 10+ */
//   &::-webkit-scrollbar { /* WebKit */
//     width: 0;
//     height: 0;
//   }
// }

// .gallery-col {
//   display: flex;
//   flex-direction: column;
// }

.slider-img {
  transition: $transition-10;
}

.gallery-footer {
  color: #656463;
}

/* ---------- Responsive Web Adjustments ---------- */

/* Mobile ------ */
@media only screen and (min-width: 20rem) {
  .project-gallery {
    width: calc(100% + 1rem);

    & .gallery-header, & .gallery-footer {
      margin-left: 0.5rem;
    }
  }

  // .gallery-carousel {
  //   flex-direction: column;
  //   margin: 0 -1rem;
  //   padding: 0 1rem;

  //   & > img:last-child { margin-bottom: 0 }
  // }

  // .gallery-col {
  //   flex-direction: column;
  //   margin-bottom: 1rem;

  //   .gallery-img-duo {
  //     margin-bottom: 1rem;
  //     &:last-of-type { margin-bottom: 0; }
  //   }
  // }

  // .gallery-img {
  //   border-radius: 6px;
  //   filter: $reg-shadow-3;
  // }

  // .gallery-img-uno {
  //   height: fit-content;
  // }

  .gallery-footer {
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.5rem;
  }
}

/* Large Mobile ------ */
@media only screen and (min-width: 27rem) { // 432px

}

/* Tablets and small desktops ------ */
@media only screen and (min-width: 50rem) { // 800px

  .project-gallery {
    width: 100vw;
  //   overflow: visible;

    & .gallery-header, & .gallery-footer {
      margin-left: 7rem;
    }
  }

  // .gallery-carousel {
  //   // width: 100%;
  //   flex-direction: row;
    // margin: -30px 0px;
    // padding: 30px 0px;
  //   overflow: visible;
  //   cursor: grab;
  
  //   & > * {
  //     margin-right: 1rem;
  //     z-index: -1;
  //   }
  
  //   & > img:first-child { margin-left: 7rem }
  //   & > img:last-child { margin-right: 7rem }
  // }

  // .gallery-img {
  //   filter: $reg-shadow-1;
  //   border-radius: 8px;
  //   // scroll-snap-align: start;
  //   pointer-events: none;
    
  
  //   &:hover {
  //     transform: scale(1.02);
  //     z-index: 2;
  //     filter: $reg-shadow-1 $reg-shadow-2;
  //     transition: $transition-10;
  //   }
  // }

  // .gallery-img-uno {
  //   height: 428px;
  // }

  // .gallery-img-duo {
  //   height: 206px;
  //   margin-bottom: 1rem;
  //   flex-shrink: 1;

  //   &:last-of-type { margin-bottom: none; }
  // }

  .gallery-footer {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

/* Small desktops ------ */
@media only screen and (min-width: 60rem) {

  .project-gallery {
    & .gallery-header, & .gallery-footer {
      margin-left: 1.5rem;
    }
  }
  
  // .gallery-carousel {
  //   & > img:first-child { margin-left: 1.5rem }
  //   & > img:last-child { margin-right: 1.5rem }
  // }

}

/* Large desktops ------ */
@media only screen and (min-width: 75rem) {

  .project-gallery {
    width: 100vw;

    & .gallery-header, & .gallery-footer {
      margin-left: calc(50vw - 575px);
    }
  }

  // .gallery-carousel-wrapper {
  //   width: 100%;
  //   overflow: hidden;
  //   background-color: lightblue;
  // }

  // .gallery-carousel {
  //   // width: 100%;
  //   // overflow-x: scroll;
  //   // overflow-y: hidden;
  //   background-color: lightgreen;
  //   // padding: 0 calc(50vw - 575px);
  
  //   & > * { margin-right: 1rem }
  //   & > img:first-child { margin-left: calc(50vw - 575px) }
  //   & > img:last-child { margin-right: calc(50vw - 575px) }
  // }

}

/* ---------- End of Responsive Web Section ---------- */

.slider-wrapper {
  cursor: grab;
  overflow-x: hidden;
  margin: -30px 0px;
  padding: 30px 0px;
}

.slider {
  width: max-content;
  display: flex;

  & > * { margin-right: 1.5rem }
  & > .slider-item:first-child { margin-left: calc(50vw - 575px) }
  & > .slider-item:last-child { margin-right: calc(50vw - 575px) }
  // & > .slider-item:last-child { margin-right: 0 }

}

.slider-item {
  height: 428px;
  width: 100%;

  img {
    height: 100%; 
    width: auto;
  }
  
}
