@import "Variables";

.app {
  background-color: #FBF6ED;
}

.intro-app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  overscroll-behavior-y: none;
}

.name-container {
  padding: 40px;
  width: fit-content;
}

.name-letter-l {
  display: inline-block;
  margin-right: -6px;
  transition: margin-right 2s cubic-bezier(.44,.01,.48,1);
}

.name-letter-e {
  display: inline-block;
  margin-right: 3px;
  transform: rotate(-30deg);
}

.phrase-list-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-right: 48px;
  padding-bottom: 40px;
  width: fit-content;
}

.phrase-container {
  display: flex;
  flex-direction: row;
  // width: 1000px;
  align-items: center;
  justify-content: space-around;
}

.phrase-growing-container {
  height: 184px;
  transition: $transition-50;
}

.phrase-layout {
  position: relative; 
  margin-bottom: 40px;
  width: 720px;
}

.down-btn {
  width: 88px;
  height: 88px;
  border: none;
  border: 4px solid $black;
  border-radius: 100px;
  background: none;
  
  &:hover {
    background: $black;
    img {
      filter: brightness(0) invert(1);
    }
  }
}

.phrase-hidden {
  opacity: 0;
  transition: $transition-25;
}

.phrase-focus {
  p, img, button { opacity: 1 }

  p, img { transition: $transition-25 }
  .down-btn > img { transition: $transition-1 }

  img { transform: scale(1.1); }
}

.phrase-unfocus {
  p, img { opacity: 15%; }
  button { opacity: 0% }

  img { transform: scale(1); }  

  p, img { transition: all 0.25s cubic-bezier(.44,.01,.48,1) }
  .down-btn > img { transition: all 0.01s cubic-bezier(.44,.01,.48,1) }
}

#FB-icon {
  width: 156px;
  position: absolute;
  right: -12px;
  bottom: -64px;
  animation: rotation 40s infinite linear;
}

#Build-icon {
  width: 140px;
  position: absolute;
  left: -112px;
  top: -64px;
  animation: step-rotation 4s infinite step-start;
}

#Story-icon {
  width: 180px;
  position: absolute;
  right: -24px;
  top: -80px;
  animation: wiggle 2s infinite ease-in-out;
}

#Child-icon {
  width: 190px;
  position: absolute;
  left: -200px;
  top: 12px;
  // animation: bounce 1s infinite linear;
  animation: tada 2s infinite linear
}

@keyframes rotation {
  from { transform: rotate(0deg) }
  to { transform: rotate(359deg) }
}

@keyframes step-rotation {
  0% { transform: rotate(0deg) }
  10% { transform: rotate(-36deg) }
  20% { transform: rotate(-72deg) }
  30% { transform: rotate(-108deg) }
  40% { transform: rotate(-144deg) }
  50% { transform: rotate(-180deg) }
  60% { transform: rotate(-216deg) }
  70% { transform: rotate(-252deg) }
  80% { transform: rotate(-288deg) }
  90% { transform: rotate(-324deg) }
  100% { transform: rotate(0deg) }
}

@keyframes wiggle {
  0%   { transform: rotate(0deg) }
  25%  { transform: rotate(-10deg) scale(1.2) }
  50%  { transform: rotate(10deg)  }
  75%  { transform: rotate(-5deg) scale(1) }
  100% { transform: rotate(0deg)  }
}

// .bounce-7 {
//   animation-name: bounce-7;
//   animation-timing-function: 
// }

// @keyframes bounce {
//   0%   { transform: scale(1,1)      translateY(0); }
//   10%  { transform: scale(1.1,.9)   translateY(0); }
//   30%  { transform: scale(.97,1.03)   translateY(-50px); }
//   50%  { transform: scale(1.03,.97) translateY(0); }
//   // 57%  { transform: scale(1,1)      translateY(-5px); }
//   60%  { transform: scale(1,1)      translateY(-5px); }
//   // 64%  { transform: scale(1,1)      translateY(0); }
//   70%  { transform: scale(1,1)      translateY(0); }
//   100% { transform: scale(1,1)      translateY(0); }
// }

@keyframes tada {
  0% {
    // -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }

  8% {
    // -webkit-transform: scale3d(.9,.9,.9) rotate(-3deg);
    transform: scale3d(.9,.9,.9) rotate(-3deg)
  }

  24%,40%,56%,72% {
    // -webkit-transform: scale3d(1.1,1.1,1.1) rotate(3deg);
    transform: scale3d(1.1,1.1,1.1) rotate(3deg)
  }

  16%,32%,48%,64% {
    // -webkit-transform: scale3d(1.1,1.1,1.1) rotate(-3deg);
    transform: scale3d(1.1,1.1,1.1) rotate(-3deg)
  }

  88% {
    transform: scaleX(1) rotate(0deg)
  }
  // 96% {
  //   transform: scaleX(1)
  // }

  to {
    // -webkit-transform: scaleX(1);
    transform: scaleX(1)
  }
}