@import "Variables";

.navbar-container {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(1px);
  background: linear-gradient(0deg, rgba(251, 246, 237, 0%), rgba(255, 255, 255, 1) 75%);
}

.navbar {
  width: $page-width;
  padding: 24px 0px 24px;
  display: grid;
  grid-template-columns: [first] 250px [line1] auto [line2] 250px [end];  
  a { text-decoration: none; }
}

.nav-name-container {
  display: flex;
  align-items: center;
  flex: 0 1 auto;
}

#nav-name {
  font-family: 'Peggs Bold';
  font-size: 1.5rem;
  line-height: 100%;
  letter-spacing: -1px;
  color: #FF9431;
  text-decoration: none;
}

.nav-btns-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-btn {
  // type
  font-family: "Relative Bold";
  font-size: 1rem;
  line-height: 1rem;
  color: #242424;
  text-decoration: none;
}

.nav-link-btn {
  // button 
  background: none;
  border-radius: 100px;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 8px 12px 8px;
  margin: 0px 8px 0px;
  transition: $transition-25;

  &:hover {
    border: 1px solid #B2AFA9;
    transition: $transition-25;
  }
}

.nav-btn-selected {
  color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  background: radial-gradient(circle, rgba(0,0,0,0.6) 0%, rgba(0,0,0,.45) 75%, rgba(0,0,0,.25) 100%);

  &:hover {
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

.comms-list {
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.nav-comm-btn {
  width: 22px;
  height: 22px;
  margin: 0px 12px 0px;

   img {
      width: 22px;
      transition: $transition-10;

      &:hover {
        cursor: pointer;
        transform: scale(1.1) rotate(-8deg);
        transition: $transition-10;
      }
   }
}

#resume-btn {
  margin-right: 0;
  margin-left: 12px;   
}

