@import "Variables";

.project-app {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top,rgb(251, 246, 237) 50%,rgb(255, 255, 255) 100%);
}

.body-container {
  width: $page-width;
  min-height: 100vh;
  overflow: visible;
  display: flex;
}

#project-body-container {
  height: fit-content;
  padding: 120px 0px 80px;
  flex-direction: column;

  & .back-btn:first-child { margin-bottom: 2.5rem; }
  & .back-btn:last-child { margin-top: 2.5rem; }
}

.back-btn {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
  opacity: 0.75;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    opacity: 1;
    transition: $transition-10;
  }
}

.back-arrow {
  width: 14px;
  margin-right: 4px;
}

.project-section {
  height: fit-content;
  padding-bottom: 2rem;
}

.project-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-section-content {
  width: 500px;
  z-index: 1;
  
  & > * {
    margin-bottom: 1rem;
  }
}

.project-title {
  font-family: 'Relative Bold';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
  color: #780039;
  z-index: 100;
}

.project-catchphrase {
  font-family: 'Relative Faux';
  letter-spacing: -1px;
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 400;
  color: #242424;
  margin-bottom: 2.5rem;
}

.project-desc-list {
  display: flex;
  flex-direction: row;

  .project-desc {
    margin-right: 2.5rem;

    .desc-title {
      font-family: 'Relative Bold';
      font-size: 1.2rem;
      line-height: 1.5rem;
      color: #8B8D9B;
      margin-bottom: 0.25rem;
    }

    .desc-content {
      font-family: 'Relative Book';
      font-size: 1.5rem;
      line-height: 1.5rem;
      color: #242424;
    }
  }
}

.section-header {
  font-family: 'Relative Bold';
  font-size: 1.75rem;
  line-height: 1.75rem;
  letter-spacing: -0.2px;
  color: #780039;
}

.section-copy {
  font-family: 'Relative Book';
  font-size: 1.5rem;
  line-height: 2rem;
  color: #32312F;
  width: 640px;
}

.splash-img-container {
  position: relative;
  flex: 1 1 100px;
  height: 500px;
  perspective: 1000px;
  perspective-origin: bottom;
}

#popper-project-section-content {
  width: 720px;
}

#strange-project-section-content {
  width: 680px;
}

#strange-splash-img-container {
  flex: 1 1 300px;
  perspective: 1000px;
  perspective-origin: top;
}

.splash-img {
  position: absolute;
  border-radius: 12px;
  filter: $reg-shadow-4;
}

#popper-splash-0 {
  width: 220px;
  top: 0;
  left: -50px;
  transform: scale(1.0) rotateX(12deg) rotate(5deg);
  transition: $transition-50;

  &:hover {
    z-index: 2;
    transform: scale(1.05) rotateX(4deg) rotate(4deg);
    transition: $ease-out-25;
  }
}

#popper-splash-1 {
  width: 220px;
  top: 250px;
  left: 100px;
  transform: scale(1.0) rotateX(12deg) rotate(5deg);
  transition: $transition-50;

  &:hover {
    transform: scale(1.05) rotateX(4deg) rotate(4deg);
    transition: $ease-out-25;
  }
}

#strange-splash-0 {
  width: 560px;
  top: 0;
  right: -24px;
  transform-origin: center bottom;
  transform: scale(1.0) rotateX(20deg) rotate(-8deg);
  transition: $transition-50;

  &:hover {
    transform: scale(1.05) rotateX(10deg) rotate(-4deg);
    transition: $ease-out-25;
  }

}

.project-gallery {
  width: 100vw;
  margin-left: calc(500px - 50vw);
  display: flex;

  & > div {
    flex: 1 1 100%;
  }

  & .gallery-header, & .gallery-footer {
    margin-left: calc(50vw - 500px);
    width: fit-content;
  }
}

.gallery-footer {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #656463;
}

.gallery-carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: -64px 0px;
  padding: 64px 0px;
  perspective: 1000px;
  perspective-origin: right;

  & > * {
    margin-right: 16px;
    z-index: -1;
  }

  & > img:first-child {
    margin-left: calc(50vw - 500px);
  }

  & > img:last-child {
    margin-right: calc(50vw - 500px);
  }

  /* remove scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  &::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }
}

.gallery-img {
  filter: $reg-shadow-1;
  transition: $transition-10;
  border-radius: 8px;

  &:hover {
    transform: scale(1.02);
    z-index: 2;
    filter: $reg-shadow-1 $reg-shadow-2;
    transition: $transition-10;
  }
}

.gallery-img-uno {
  height: 428px;
}

.gallery-col {
  display: flex;
  flex-direction: column;

  .gallery-img-duo {
    height: 206px;
    margin-bottom: 16px;
    flex-shrink: 1;

    &:last-of-type {
      margin-bottom: none;
    }
  }
}



