@import "Variables";

.work-app {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to top,rgb(251, 246, 237) 50%,rgb(255, 255, 255) 100%);
}

.body-container {
  width: $page-width;
  min-height: 100vh;
  overflow: visible;
  display: flex;
}

#work-body-container {
  height: fit-content;
  padding: 120px 0px 80px;
  flex-direction: column;
  align-items: center;
}

.page-title-section {
  flex: 0 0 auto;
  width: 100%;
  margin: 16px 0px 56px;

  .page-title {
    font-family: "Relative Book";
    font-size: 3rem;
    line-height: 100%;
    letter-spacing: -1px;
    color: $black;
    text-align: center;
  }
}

.case-study {
  position: absolute;
  transition: all 0.25s cubic-bezier(.44,.01,.48,1);

  &:hover {
    cursor: pointer;
    transition: all 0.25s cubic-bezier(.44,.01,.48,1);
  }

  img { 
    display: block;
    -webkit-user-drag: none;
    transition: filter 0.25s cubic-bezier(.44,.01,.48,1);

    &:hover {
      filter: $hov-shadow-1 $hov-shadow-2 $hov-shadow-3 $hov-shadow-4 !important;
      -webkit-box-filter: $hov-shadow-1 $hov-shadow-2 $hov-shadow-3 $hov-shadow-4 !important;
      transition: filter 0.25s cubic-bezier(.44,.01,.48,1);
    }
  }
}

.main-section {
  flex: 1 1 auto;
  width: 100%;
  height: 1200px;
  overflow: visible;

  perspective: 1000px;
  perspective-origin: bottom;

  #gtm-project {
    top: 10px;
    left: 0;

    transform: rotateX($tilt) rotate(-4deg);

    #gtm-img {
      overflow: visible;
      width: 360px;
      filter: $reg-shadow-1 $reg-shadow-2 $reg-shadow-3 $reg-shadow-4
              drop-shadow(-0.5px $hard-shadow-depth 0px $hard-shadow-color);
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  #overview-project {
    top: 230px;
    left: 150px;

    #overview-img { 
      width: 500px;
      filter: $reg-shadow-1 $reg-shadow-2 $reg-shadow-3 $reg-shadow-4
              drop-shadow(-4px $hard-shadow-depth 0px $hard-shadow-color);
    }

    transform: rotateX($tilt) rotate(-8deg);

    &:hover {
      transform: scale(1.1);
    }
  }

  #applied-project {
    right: 0;
    top: 16px;
    transform: rotateX($tilt) rotate(10deg);
    
    #applied-img {
      width: 300px;
      filter: $reg-shadow-1 $reg-shadow-2 $reg-shadow-3 $reg-shadow-4
              drop-shadow(2px $hard-shadow-depth 0px $hard-shadow-color);
    }

    &:hover {
      transform: scale(1.1) rotate(-2deg);
    }
  }

  #popper-project {
    right: 0;
    top: 300px;
    transform: rotateX($tilt) rotate(10deg);

    #popper-img {
      width: 180px;
      filter: $reg-shadow-1 $reg-shadow-2 $reg-shadow-3 $reg-shadow-4
              drop-shadow(3px $hard-shadow-depth 0px $hard-shadow-color);
    }

    &:hover {
      transform: scale(1.1) rotate(-1deg);
    }
  }

  #elios-project {
    top: 600px;
    left: 40px;
    transform: rotateX($tilt) rotate(-12deg);

    #elios-img {
      width: 280px;
      filter: $reg-shadow-1 $reg-shadow-2 $reg-shadow-3 $reg-shadow-4
              drop-shadow(-3px $hard-shadow-depth 0px $hard-shadow-color);
    }

    &:hover {
      transform: scale(1.1) rotate(-4deg);
    }
  }

  #strange-project {
    top: 640px;
    right: 0px;
    transform: rotateX($tilt) rotate(4deg);

    #strange-img {
      width: 500px;
      filter: $reg-shadow-1 $reg-shadow-2 $reg-shadow-3 $reg-shadow-4
              drop-shadow(2px $hard-shadow-depth 0px $hard-shadow-color);
    }

    &:hover {
      transform: scale(1.1) rotate(2deg);
    }
  }
}